In [ ]:

  class Employee:
    employee_count = 0
    total_salary = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.employee_count += 1
        Employee.total_salary += salary

    @classmethod
    def average_salary(cls):
        if cls.employee_count > 0:
            return cls.total_salary / cls.employee_count
        return 0

    def display_employee(self):
        return f"Employee: {self.name}, Department: {self.department}, Salary: {self.salary}"

class FulltimeEmployee(Employee):
    ft_employee_count = 0
    ft_total_salary = 0

    def __init__(self, name, family, salary, department):
        super().__init__(name, family, salary, department)
        FulltimeEmployee.ft_employee_count += 1
        FulltimeEmployee.ft_total_salary += salary

    @classmethod
    def average_salary(cls):
        if cls.ft_employee_count > 0:
            return cls.ft_total_salary / cls.ft_employee_count
        return 0

    def display_employee(self):
        return f"Fulltime Employee: {self.name}, Department: {self.department}, Salary: {self.salary}"

# Creating instances
emp1 = Employee("Yash", "Bal", 70000, "HR")
emp2 = Employee("Kali", "Doe", 60000, "Project Manager")
ft_emp1 = FulltimeEmployee("Kaushik", "Sriram", 80000, "IT")
ft_emp2 = FulltimeEmployee("prem", "Jones", 80000, "Team Lead")

# Displaying information
print(emp1.display_employee())
print(emp2.display_employee())
print(ft_emp1.display_employee())
print(ft_emp2.display_employee())

# Displaying average salaries and counts
print(f"Average Salary of Employees: {Employee.average_salary()}")
print(f"Number of Employees: {Employee.employee_count}")
print(f"Average Salary of Fulltime Employees: {FulltimeEmployee.average_salary()}")
print(f"Number of Fulltime Employees: {FulltimeEmployee.ft_employee_count}")

Employee: Yash, Department: HR, Salary: 70000
Employee: Kali, Department: Project Manager, Salary: 60000
Fulltime Employee: Kaushik, Department: IT, Salary: 80000
Fulltime Employee: prem, Department: Team Lead, Salary: 80000
Average Salary of Employees: 72500.0
Number of Employees: 4
Average Salary of Fulltime Employees: 80000.0
Number of Fulltime Employees: 2

In [ ]:
import numpy as np

# Create random vector of size 20 with floats in the range 1-20
random_vector = np.random.uniform(1, 20, 20)

# Reshape the array to 4 by 5
reshaped_array = random_vector.reshape(4, 5)

# Iterate over each row and replace the maximum value with 0
for i in range(reshaped_array.shape[0]):
    reshaped_array[i, np.argmax(reshaped_array[i])] = 0

reshaped_array

array([[ 2.65033542,  1.3701247 ,  0.        ,  1.45054722,  9.97381032],
       [10.35997524,  5.71039758, 15.78421693, 12.5223365 ,  0.        ],
       [ 2.65281812,  7.45203573, 15.58787782, 13.7619869 ,  0.        ],
       [ 6.68874181,  0.        , 12.05409449,  9.35021058,  5.71651279]])